language: rust

matrix:
  include:
    - env: TARGET=thumbv7em-none-eabihf
      rust: nightly
      addons:
        apt:
          packages:
            - gcc-arm-none-eabi

before_install: set -e

install:
  - rustup target add $TARGET

script:
  - cargo build
  - cargo build --release

after_script: set +e

cache: cargo

before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    - staging
    - trying

notifications:
  email:
    on_success: never
